Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.10.4
argparse==1.2.1
cffi==1.2.1
cryptography==1.0.2
enum34==1.0.4
gunicorn==19.3.0
idna==2.0
ipaddress==1.0.14
itsdangerous==0.24
ndg-httpsclient==0.4.0
pyOpenSSL==0.15.1
pyasn1==0.1.9
pycparser==2.14
requests==2.8.0
six==1.10.0
wsgiref==0.1.2
